<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Tareas pendientes
            
          </h4>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {{#each tasks}}
                <tr>

                    
                  <td>{{@index}}</td>
                  <td>{{titulo}}</td>
                  <td>{{descripcion}}</td>

                  <td>
                   <a href="/edit/{{_id}}"><span class="material-symbols-outlined ml-3">edit</span></a>
                   <a href="/delete/{{_id}}"><span class="material-symbols-outlined  ml-3">delete</span></a>
                  </td>
                </tr>

              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>